.react-flow__background {
  fill: white;
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.custom-node {
  position: relative;
  background: white;
  padding: 12px 16px;
  text-align: center;
  font-weight: bold;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  animation: rotateGradient 5s linear infinite;
  background-size: 300% 300%;
}

.custom-node.Running {
  background-image: linear-gradient(white, white),
      linear-gradient(90deg, #16A34A, #22C55E, #86EFAC, #22C55E, #16A34A);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.custom-node.Starting {
  background-image: linear-gradient(white, white),
      linear-gradient(90deg, #FACC15, #F59E0B, #FDE047, #F59E0B, #FACC15);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.custom-node.Stopped {
  background-image: linear-gradient(white, white),
      linear-gradient(90deg, #DC2626, #EF4444, #F87171, #EF4444, #DC2626);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

@keyframes runningPulse {

  0%,
  100% {
    box-shadow: 0 0 10px rgba(34, 197, 94, 0.6);
  }

  50% {
    box-shadow: 0 0 20px rgba(34, 197, 94, 0.9);
  }
}

@keyframes startingPulse {

  0%,
  100% {
    box-shadow: 0 0 10px rgba(234, 179, 8, 0.6);
  }

  50% {
    box-shadow: 0 0 20px rgba(234, 179, 8, 0.9);
  }
}

@keyframes stoppedPulse {

  0%,
  100% {
    box-shadow: 0 0 10px rgba(239, 68, 68, 0.6);
  }

  50% {
    box-shadow: 0 0 20px rgba(239, 68, 68, 0.9);
  }
}

.custom-node.Running:hover {
  animation: runningPulse 1.2s infinite;
    transform: scale(1.03);
}

.custom-node.Starting:hover {
  animation: startingPulse 1.2s infinite;
  transform: scale(1.03);
}

.custom-node.Stopped:hover {
  animation: stoppedPulse 1.2s infinite;
    transform: scale(1.03);
}

/* Style des connexions (edges) */
.react-flow__edge path {
  stroke: #000000 !important;
  stroke-width: 3;
  stroke-dasharray: 5 5;
}
