on:
    [push]

jobs:
    create_zip_release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              if: github.repository_owner == 'haddockapp'
              with:
                fetch-depth: 0

            - name: Create zip release
              run: |
                mkdir -p release
                git archive --format=zip --output=release/release.zip HEAD
                echo "::set-output name=zip_path::release.zip"

            - name: Extract branch name
              shell: bash
              run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
              id: extract_branch

            - name: Upload zip release by FTP
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                server: mar2.network.socialeo.eu
                username: releases.haddock.ovh_99uowjpqn9e
                password: ${{ secrets.FTP_PASSWORD }}
                local-dir: ./release
                server-dir: /httpdocs/${{ steps.extract_branch.outputs.branch }}/