on:
    [push, delete, create, pull_request]
jobs:
    push_to_mirror:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                fetch-depth: 0

            - name: Push to mirror
              uses: yesolutions/mirror-action@master
              with:
                REMOTE: git@github.com:haddockapp/haddockapp.git
                # No security risk. The key is only valid to push on the mirror repository & the two repos are private
                GIT_SSH_PRIVATE_KEY: |
                    -----BEGIN OPENSSH PRIVATE KEY-----
                    ***REMOVED***
                    ***REMOVED***
                    ***REMOVED***
                    ***REMOVED***
                    ***REMOVED***
                    -----END OPENSSH PRIVATE KEY-----
                GIT_SSH_NO_VERIFY_HOST: "true"